.choosegame {
  text-align: center;

  background-color: #0e0e0e;
  padding: 1%;
  border-radius: 0.7em;

  height: 100%;
}

.choosegame-alphasoup {
  color: beige;
  cursor: pointer;
}

.choosegame-codenames {
  color: rgb(50, 0, 231);
  cursor: pointer;
}