.choosegame {
  text-align: center;

  background-color: #0e0e0e;
  padding: 1%;
  border-radius: 0.7em;

  height: 100%;
}

.choosegame-alphasoup {
  cursor: pointer;
  font-size: 26px;
  transition: 0.2s;
}

.choosegame-codenames {
  cursor: pointer;
  font-size: 26px;
  transition: 0.2s;
}

.choosegame-alphasoup:hover {
  color: rgb(243, 243, 180);
  transition: 0.2s;
}

.choosegame-codenames:hover {
  color: rgb(50, 0, 231);
  transition: 0.2s;
}