.lobby {
  height: 100%;
}

.lobby-container {
  display: flex;
}

.lobby-choose {
  order: 0;
  flex-grow: 8;
  margin: 0.5%;

  height: calc(100vh - 200px);
}

.lobby-interact {
  order: 2;
  margin: 0.5%;

  flex-grow: 2;
}

.divider {
  margin-top: 10%;
  margin-bottom: 10%;
}
