

form {
  text-align: center;
}

.create-room {
  text-align: center;
  color: white;
}

.clickable {
  color: #57C6D7;
  cursor: pointer;
  transition: 0.2s;
}

.clickable:hover {
  color: #FFCB05;
  transition: 0.2s;
}

.room-form-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  transition: all 0.3s;
}