.home-body {
  position: absolute;
  width: 80%;

  top: 35%;
  left: 10%;

}

.home-content {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.home-header {
  font-size: 72px;
  color: white;
}