@font-face{
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}
body{
    background-color: #1B1A19;
    color: #E9E8E8;
    font-family: 'Inter', sans-serif;
}
h1{
    width:50%;
    position: absolute;
    padding:20%;
    font-size: 300%;
    font-weight: normal;
}