.letters-display {
  display: flex;
  flex-wrap: wrap;
  
  background-color: #0e0e0e;
  padding: 1%;
  border-radius: 0.7em;
}

.letters-tile {
  margin: 1%;
  font-size: 36px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  text-align: center;

  color: black;
  background-color: #FDE4A3;
  border-radius: 0.15em;
  border: 2px solid #eece77;
}

.letters-nexttile {
  margin: 1%;
  font-size: 36px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  text-align: center;

  color: black;
  background-color: #FDE4A3;
  border-radius: 0.15em;
  border: 2px solid #FEF0CB;

  opacity: 0.5;
}