.playerData {
  display: flex;
  flex-wrap: wrap;

  background-color: #0e0e0e;
  padding: 1%;
  border-radius: 0.7em;
  margin-left: 3%;
  margin-right: 3%;
}

.playerData-keybox {
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-top: 1%;
}

.playerData-keyhead {
  margin: 0;
  padding: 0;
}

.playerData-key {
  margin: 0;
  padding: 0;
}

.playerData-valid {
  color: white;
}

.playerData-steal {
  color: #57C6D7;
}

.playerData-invalid {
  color: red;
}

.playerData-validate {
  color: #5acc5a
}

.playerData-players {
  display: flex;
  flex-wrap: wrap;

  flex-grow: 10;
}

.playerData-player {
  margin: 2%;
  margin-top: 0;
}

.playerData-word {
  cursor: pointer;
  font-size: 20px;
}

.playerData-word:hover {
  color: #57C6D7;
  transition: 0.1s;
}

.playerData-stealingword {
  color: #57C6D7;
  transition: 0.1s;
}

.playerData-invalidword {
  color: red;
  cursor: pointer;
  font-size: 20px;
  transition: 0.1s;
}

.playerData-invalidword:hover {
  color: #5acc5a;
  transition: 0.1s;
}

.playerData-validatingword {
  color: #5acc5a
}